/* filepath: c:\Users\Usuario\Desktop\12vo Doceavo Semestre\Programacion Dispositivos Mobiles\Proyect\GestorDeTareas\src\app\pages\tab1\tab1.page.scss */

/* Estilo para el mensaje de bienvenida */
.welcome-message {
    text-align: center;
    margin: 20px 0;
    color: #4a4a4a;
  
    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    p {
      font-size: 1rem;
      color: #7a7a7a;
    }
  }
  
  /* Estilo para la lista de tareas */
  .task-list {
    margin: 20px 10px;
  }
  
  /* Estilo para el botón flotante */
  ion-fab-button {
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --border-radius: 50%;
  }